.section_5 {
    margin: 0;
    padding: 0;
}

.section_5 .empty_box {
    background-color: #E1F4F2CC;
    width: 31em;
    height: 50em;
    position: absolute;
}

.main_content {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 4em;
}

.main_content .title {
    padding: 2rem 0;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    left: 18em;
}

.main_content .title p {
    font-family: Roboto, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;
    color: #777777;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main_content .title h1 {
    font-family: Playfair Display, serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
    color: #177165;
}

.main_content .cards {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.main_content .cards .each_cart {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
}

.main_content .cards .each_cart .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

.main_content .cards .each_cart .text p {
    max-width: 80%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #777777;
}

.main_content .cards .each_cart .text h3 {
    font-family: Playfair Display, serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 42.25px;
    color: #177165;
}







